.response{
    display: -webkit-box;
}
.response2{
    margin-left: 35px;
}
@media (max-width:576px) {
    .response{
        display: flex;
        flex-direction: column;
    }
    .response2{
        margin-left: 0;
        margin-top: 25px;
    }
}
@media (min-width:576px)and (max-width:992px) {
    .response{
        display: flex;
        flex-direction: column;
    }
    .response2{
        margin-left: 0;
        margin-top: 25px;
    }
}
